


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>错误页面</title>
      
      <link rel="stylesheet" href="/static/css/backend-plugin.min.css">
      <link rel="stylesheet" href="/static/css/backend.css">  </head>
  <body class=" ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>
    <!-- loader END -->
    
      <div class="wrapper">
      <div class="mt-5 iq-maintenance">
            <div class="container-fluid p-0">
               <div class="row no-gutters">
                  <div class="col-sm-12 text-center">
                        <div class="iq-maintenance">
                           <img src="/static/picture/maintenance.png" class="img-fluid" alt="">
                           <h3 class="mt-4 mb-2">{{ errorMsg }}</h3>
                           <p class="mb-2">请检查您的问题并修改</p>
                            <p><a href="/user/login" class="btn btn-primary">回到登录页</a>></p>
                        </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
    
    <!-- Backend Bundle JavaScript -->
    <script data-cfasync="false" src="https://www.17sucai.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/static/js/backend-bundle.min.js"></script>
    <script src="/static/js/customizer.js"></script>
    <script src="/static/js/sidebar.js"></script>
    <script src="/static/js/flex-tree.min.js"></script>
    <script src="/static/js/tree.js"></script>
    <script src="/static/js/table-treeview.js"></script>
    <script src="/static/js/sweetalert.js"></script>
    <script src="/static/js/vector-map-custom.js"></script>
    <script src="/static/js/chart-custom.js"></script>
    <script src="/static/js/01.js"></script>
    <script src="/static/js/02.js"></script>
    <script src="/static/js/slider.js"></script>
    <script src="/static/js/index.js" type="module"></script>
    <script src="/static/js/app.js"></script>  </body>
</html>